.scholarship-description{
    color:black;
    margin-top: 8px;
}
.scholarship-img{
   width: 80%;
   max-height: 400px;
 
}
.scholarship-details{
    display: flex;
    justify-content: center;
    align-items: center;
}