#news-description{
    display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#input-group {
  max-width: 1000px; /* Adjust the maximum width as needed */
}
#search-info{
  height: 50px;
  width: 50px;
}