.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-border {
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%; /* Make the input fields take up the full width */
    max-width: 300px; /* Set a maximum width to control size */
  }
  
  .btn {
    width: 100%; /* Make the buttons take up the full width */
    max-width: 300px; /* Set a maximum width to control size */
  }
  
  .btn-google {
    margin-top: 20px;
  }