.w-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will make the container take the full height of the viewport */
  }
  #makebtn{
    height: 50px;
    width: auto;
  }
  #delbtn{
    height: 50px;
    width: auto;
  }